@import url('https://fonts.cdnfonts.com/css/poppins');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: #27282C;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 50px;
}
a {
    position: relative;
    background: #444; 
    padding: 20px 60px;
    margin: 40px;
    transition: 1s;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
a:hover {
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr), 
    0 0 30px var(--clr), 
    0 0 60px var(--clr), 
    0 0 100px var(--clr);
}
a::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 400%;
    background: var(--clr);
    animation: animate 1s linear infinite;
    animation-delay: calc(0.33s * var(--clr));
}
@keyframes animate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
a:hover:before {
    width: 120%;
}
a:after {
    content: "";
    position: absolute;
    inset: 4px;
    background: #202020;
}
a:hover::after{
    background: var(--clr);
}
a span {
    position: relative;
    z-index: 1;
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FFF;
    font-size: 32px;
}
a:hover span {
    opacity: 1;
}
